@using _02_FirstHomeWorkASP.Controllers
@model List<CollectionWorks>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Year Of Writting</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
            <th scope="row">@i.Id</th>
            <td>@i.Name</td>
            <td>@i.YearOfWritting</td>
            <td>@i.Genre</td>
        </tr> 
        }
    </tbody>
</table>
