@model List<Mercedes>
<style>
    .imgAnimation{
        transition:1.0s;
    }

    .imgAnimation:hover{
        transform:scale(1.07);
    }
    .cool-Btn{
        border-radius:25px;
        font-weight:bold;
    }
    .modelText{
        margin-bottom:65px;
        font-weight:bold;
        font-family:'Linux Libertine Display G';
    }
    .priceText{
        color: rgb(145, 145, 145 );
        font-weight:500;
        font-size:80%;
        margin-bottom:20px;
        font-family: 'Linux Libertine Display G';
    }
</style>
<div class="row">
@foreach (var i in Model)
{
        <div class="col text-center">
            <div class="card" style="width: 30rem; border:none;">
                <img src=@i.ImgUrl class="card-img-top imgAnimation text-center" alt="..." width="650">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        @if (i.BrandOfCar.Name == "Mercedes-AMG")
                        {
                            @i.BrandOfCar.Name
                        }
                    </h5>
                    <p class="card-text text-center modelText">@i.Model</p>
                    <p class="card-text text-center priceText"><span>від</span> @i.Price.ToString("N2") грн.</p>
                    <a asp-action="Add" asp-controller="Cart" asp-route-id="@i.Id" href="#" class="btn btn-primary text-center cool-Btn">Купити автомобіль</a>
                </div>
            </div>
        </div>
}
</div>