@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left clearfix">
    <h1 class="display-4">Model View Controller</h1>
    @*<ul class="list-style-none">
    <li>*@
    <div class="card-group" style="float: right;">
        <div class="card">
            <img src="https://media.licdn.com/dms/image/D5612AQHBlf7-k71W4g/article-cover_image-shrink_720_1280/0/1680876252211?e=2147483647&v=beta&t=tVrAgYVX6m7gXkbMtUKIOKH9WByhT570STp2YgZLV6Y" class="card-img-top obj" alt="">
            <div class="card-body">
                <h5 class="card-title">MVC PATTERN</h5>
                <p class="card-text">Diagram of interactions within one possible take on the MVC pattern</p>
            </div>
        </div>
    </div>
    <p style="margin-right: 150px;">
        <b>Model–view–controller (MVC)</b> is a software design pattern commonly used for developing user
        interfaces that divides the related program logic into three interconnected elements. These elements are:
        <ul>
            <li>the model, the internal representations of information</li>
            <li>the view, the interface that presents information to and accepts it from the user</li>
            <li>the controller, the software linking the two.</li>
        </ul>
        Traditionally used for desktop graphical user interfaces (GUIs), this pattern became popular for designing web applications.
        Popular programming languages have MVC frameworks that facilitate the implementation of the pattern.
    </p>

    @* </li>
    <li>*@
    @*</li>
    </ul>*@
   @* Ctrl + K + F - format code*@
</div>
