@{
    ViewData["Title"] = "Model";
}
<h1>@ViewData["Title"]</h1>

<p>The central component of the pattern. It is the application's dynamic data structure, 
    independent of the user interface. It directly manages the data, 
    logic and rules of the application. In Smalltalk-80, the design of a model type 
    is left entirely to the programmer. With WebObjects, Rails, and Django, a model 
    type typically represents a table in the application's database. The model is essential 
    for keeping the data organized and consistent. It ensures that the application's data behaves according to the defined rules and logic.</p>
